body {
    padding: 60px;
    background-color: rgb(234, 235, 236);
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: .1em;
}

.tab-menu {
   max-width: 760px;
   margin: 0 auto;
   overflow: hidden; 
   display: flex;
   justify-content: space-between;
}

.menu-list {
    padding: 15px 0 15px;
    width: 188px;
    text-align: center;
    color: #fff;
    background-color: rgb(8, 2, 58);
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.menu-list.active {
    background: #fff;
    color: rgb(8, 2, 58);
}

.menu-list:hover {
    text-decoration: underline;
}

.tab-container {
    max-width: 760px;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    padding: 20px 35px;
    display: block;
}

.news-wrapper.show {
    display: flex;
    justify-content: space-between;
}

.news-wrapper {
    display: none;
}

.news-img {
    max-width: 280px;
}

.news-title-item {
    margin: 30px 0 15px 40px;
    list-style: square;
}
.news-link {
    color: rgb(0, 20, 201);
    text-decoration: none;
}
.news-link:hover {
    color: rgb(201, 0, 27);
    text-decoration: underline;
}
