body {
  height: 100vh;
  padding: 60px;
  background-color: rgb(234, 235, 236);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #857a7a;
  font-size: 10px;
  margin: 25% auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.slideshow-container {
  max-width: 100%;
  margin: 0 auto;
}

.slideshow-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slideshow-wrapper {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: #fff;
  list-style: none;
  position: relative;
  overflow: hidden;
}
.slide-img-item {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  padding-top: 30px;
  display: none;
}
.slide-img-item.is-active {
  z-index: 2;
  text-align: center;
  display: block;
}
.slide-image {
  max-width: 300px;
}

.slide-btn {
  border: none;
  z-index: 10;
  width: auto;
  height: 30px;
  overflow: visible;
  cursor: pointer;
}

.slide-btn:hover,
:disabled {
  opacity: 0.7;
}

.slide-number {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #6b6262;
}

.pagination-list {
  margin: 30px auto;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.pagination-item {
  width: 15px;
  height: 15px;
  background: #6b6262;
  border-radius: 45%;
  cursor: pointer;
}

.pagination-item.is-show {
  background: rgb(175, 175, 175);
}

@media screen and (max-width: 768px) {
  /* スマホ用CSS -------------- */
  .slide-img-item.is-active {
    max-width: 100%;
    /* top: 10%; */
  }
  /* .slide-image {
    max-width: 100%;
  } */
}
